.navbar {
    background-color:rgba(17,17,33,255);
    color: rgb(233, 233, 233);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.navbar img {
    width: 50px;
    height: auto;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-right: 40px;
    font-weight:500;
    cursor: pointer;
}

.navbar ul li:last-child {
    margin-right: 0;
}