body {
  background: rgb(0, 0, 0);
  margin: 0;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
  width: auto;
  height: auto;
  margin-top:70px;
  border: 4px solid rgba(159, 65, 217, 255);
  box-shadow: 0 0 8px rgba(156, 65, 218, 0.5);
  padding: 25px;
  color: aliceblue;
  background-color: rgba(42, 26, 58, 255);
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.registration-field {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.registration-field input {
  font-size: 13px;
  font-weight: bold;
  padding: 20px;
  font-size: large;
  background-color: rgba(42, 26, 58, 255);
  border: 4px solid rgba(159, 65, 217, 255);
  box-shadow: 0 0 8px rgba(156, 65, 218, 0.5);
  border-radius: 5px;
  height: 30px;
  color: #fff;
  text-align: center;
  position: relative;
}

.username-field,
.phone-field,
.email-field,
.password-field,
.confirm-pass-field {
  position: relative;
}

.username-field .icon,
.phone-field .icon,
.email-field .icon,
.password-field .icon,
.confirm-pass-field .icon {
  position: absolute;
  right: 30px;
  top: 50%;
  color: rgb(255, 255, 255);
}

.username-field input,
.phone-field input,
.email-field input,
.password-field input,
.confirm-pass-field input {
  margin-top: 20px;
  width: 350px;
  padding-left: 10px;
  box-shadow: 0 0 8px rgba(156, 65, 218, 0.5);
}

button {
  margin-top: 30px;
  width: 30%;
  padding: 10px;
  background-color: #8a2be2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-section {
  max-width: 500px; 
  margin: 0 auto; 
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .registration-field input {
    width: 300px; 
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .registration-field input{
    width:300px;
    padding: 20px;
  }
}